.bg-home-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(30, 29, 29);
  min-height: 100vh;
}
.home-container {
  display: flex;
  overflow-y: sroll;
  flex-wrap: wrap;
  padding-top: 80px;
  padding-left: 0;
  justify-content: center;
}
.Home-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
.movie-image {
  height: 230px;
  width: 160px;
}
@media screen and (max-width: 768px) {
  .movie-image {
    height: 160px;
    width: 100px;
  }
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  list-style-type: none;
  width: 160px;
}
@media screen and (max-width: 768px) {
  .list {
    margin: 20px;
    width: 120px;
  }
}
.title {
  font-size: 16px;
  color: white;
  margin-bottom: 0;
  text-align: center;
  margin-top: 0;
}
.rating {
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 13px;
  }
  .rating {
    font-size: 12px;
  }
}
.link-element {
  text-decoration: none;
}

.products-error-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  padding-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .products-error-view-container {
    margin-top: 0px;
    margin-left: 30px;
    width: 70%;
    padding-bottom: 0;
  }
}

.products-failure-img {
  width: 250px;
  height: 200px;
}

@media screen and (min-width: 768px) {
  .products-failure-img {
    width: 400px;
    height: 350px;
  }
}

.product-failure-heading-text {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .product-failure-heading-text {
    font-size: 24px;
  }
}

.products-failure-description {
  text-align: center;
  color: #64748b;
  font-family: 'Roboto';
  font-size: 14px;
  width: 90%;
  max-width: 288px;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .products-failure-description {
    font-size: 18px;
    width: 60%;
    max-width: 466px;
  }
}
.products-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .products-loader-container {
    width: 70%;
  }
}
.view-details {
  border-radius: 15px;
  background-color: rgb(238, 11, 174);
  font-size: 10px;
  font-family: 'Roboto';
  height: 25px;
}
.heading {
  font-family: 'Roboto';
  font-size: 30px;
  padding-left: 60px;
  padding-top: 40px;
  font-weight: bold;
  color: aliceblue;
}
.pagination {
  border-radius: 0px;
  background-color: transparent;
  font-size: 20px;
  font-family: 'Roboto';
  color: #d6cfc7;
}
